@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #e8e8f0;
  background: #0a0a0f;
  font-family: var(--font-space-grotesk), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
